<div class="card hot-fix nft-team external" title="DB - feedback on purging solution" style="display: block;">
  <span class="card-priority card-priority-A0">A0</span>
  <div class="card-ext-id"><a href="https://helpdesk.clear2pay.com/helpdesk/browse/CSE-5008" target="_blank">5008</a></div>
  <div class="card-int-id">|<a href="https://helpdesk.clear2pay.com/helpdesk/browse/CSSICI-15230" target="_blank">15230</a>|</div>
  <span class="card-assignee">lbossens</span>

  <span class="card-entered-flow">10-10</span>
  <span class="card-entered-column">38d</span>
</div>
